border-1px($color)
  position: relative
  &::after
    position: absolute
    display: block
    left: 0
    bottom: 0
    content: ' '
    border-top: 1px solid $color
    width: 100%

border-none()
  &::after
    display: none

bg-image($url)
  background: url("../../common/images/" + $url + "@2x.png")
  @media (-webkit-min-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background: url("../../common/images/" + $url + "@3x.png")
  }
